# Firebase Admin SDK Configuration
FIREBASE_CREDENTIALS_PATH=./firebase-adminsdk.json

# Target URL to monitor
TARGET_URL=https://pokemoncenter.com/en-ca

# FCM Topic (all app users subscribe to this)
FCM_TOPIC=pokemon_queue_alerts
